.header__lang-link {
  text-decoration: none;
  color: white;
}

.header__lang-link:active,
.header__lang-link:hover,
.header__lang-link:visited {
  text-decoration: underline;
}

#en-lang:target, #ru-lang:target {
  text-decoration: underline;
}

.header__lang-link:last-child {
  margin-left: 18px;
}

