.header__lang-link {
  text-decoration: none;
  color: white;
  height: 28px;
}

.header__lang-link:active,
.header__lang-link:hover,
.header__lang-link:visited {
  text-decoration: underline;
}

#en-lang:target, #ru-lang:target {
  text-decoration: underline;
}

