.main-block__title {
  max-width: 720px;
  font-weight: 900;
  font-size: 96px;
  line-height: 1;
  margin: 0 auto;
  text-align: center;
}

@media screen and (max-width: 768px) {
  .main-block__title {
    font-size: calc(40px + (96 - 40) * ((100vw - 320px) / (768 - 320)));
  }
}

@media screen and (max-width: 320px) {
  .main-block__title {
    max-width: 288px;
  }
}
