.to-baikal {
  display: flex;
  flex-direction: column;
  min-height: 740px;
  margin: 92px 48px 0;
  position: relative;
  justify-content: center;
  align-items: center;
  object-position: 100% 50%;
}

.to-baikal:before {
  content: "";
  background-size: cover;
  background: url(../../images/to-baikal.png) no-repeat;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  opacity: 0.8;
}

.to-baikal:hover:before {
  opacity: 0.3;
}

@media screen and (max-width: 1024px) {
  .to-baikal {
    margin: 92px 0 0;
    min-height: 640px;
  }
}

@media screen and (max-width: 768px) {
  .to-baikal {
    min-height: 480px;
  }
}

@media screen and (max-width: 320px) {
  .to-baikal {
    min-height: 200px;
  }
}
