.places__link {
  margin: 12px auto 0 0;
  text-decoration: underline;
  color: white;
  width: 456px;
  font-size: 18px;
  line-height: 22px;
}

.places__link:hover {
  opacity: 0.8;
  cursor: pointer;
}
