.bottom-image {
  display: flex;
  flex-direction: column;
  min-height: 740px;
  margin: 92px 48px 0;
  position: relative;
  justify-content: center;
  align-items: center;
  background-size: cover;
  background: url(../../images/to-baikal.png) no-repeat center;
}

.bottom-image:before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(42, 44, 47, .3);
}

.bottom-image:hover:before {
  background-color: rgba(42, 44, 47, .8);
}

@media screen and (max-width: 1024px) {
  .bottom-image {
    margin: 92px 0 0;
    min-height: 640px;
  }
}

@media screen and (max-width: 768px) {
  .bottom-image {
    min-height: 480px;
  }
}

@media screen and (max-width: 320px) {
  .bottom-image {
    min-height: 200px;
  }
}
