.question__title {
  font-weight: 900;
  font-size: 3.4rem;
  line-height: 1;
  margin: 0;
}

@media screen and (max-width: 768px) {
  .question__title {
    font-size: calc(32px + (54 - 32) * ((100vw - 320px) / (768 - 320)));
  }
}

@media screen and (max-width: 320px) {
  .question__title {
    line-height: 1.35;
  }
}
