.main-block__subtitle {
  padding: 0;
  max-width: 640px;
  margin: 32px auto 0;
  font-size: 30px;
  line-height: 120%;
  text-align: center;
}

@media screen and (max-width: 768px){
  .main-block__subtitle {
    max-width: 83%;
    font-size: calc(16px + (30 - 16) * ((100vw - 320px) / (768 - 320)));
  }
}

@media screen and (max-width: 320px) {
  .main-block__subtitle {
    margin: 16px 16px 0;
    max-width: 288px;
    line-height: 125%;
  }
}
