.header__title {
  width: 720px;
  height: 200px;
  font-weight: 900;
  font-size: 96px;
  line-height: 100px;
  margin: 62px auto 0;
  text-align: center;
}

@media screen and (max-width: 320px) {
  .header__title {
    width: 288px;
    font-weight: 900;
    font-size: 40px;
    line-height: 44px;
  }
}
